body {
    font-family: 'Times New Roman', Times, serif;
    margin: 50;
    padding: 50;
}

/* Login Card */
.login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 400px;
    padding: 20px;
    margin-top: 10%;
    margin-left: 35%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Google Login Button */
.google-btn {
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    background-color: #4285F4;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* Guest Button */
.guest-btn {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Note Text */
.note {
    margin-top: auto;
}

.note p {
    font-size: 10px;
    margin-top: 20px;
}


.navbar {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

#accountName {
    pointer-events: none;
    cursor: default; /* optional: palitan ang cursor */
}

.search-bar {
  flex-grow: 1;
  margin-left: 77%;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    font-size: 10px;
}

.profile {
    position: relative;
}

.profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.dropmenu {
    position: absolute;
    top: 50px;
    right: 0;
    width: 180px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    display: none;
    z-index: 10;
}

.dropmenu.show {
    display: block;
}

.dropmenu a {
    display: block;
    padding: 10px 15px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

.dropmenu a:hover {
    background: #f2f2f2;
}

.nav-profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}


/* Main Card */
.main-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 1000px;
    height: auto;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 13%;
    padding: 20px; 
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 18px;
}

.quotes {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

.roles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.role-item {
    text-align: center;
}